.App{
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  /* background-color:rgba(0, 0, 0, 0.02); */
}
.Header {
    display: flex;
    position: fixed;
    top:0;
    width: 100%;   
    padding: 0 20px;
    /* background-color: blue; */
    z-index: 1000;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
}
.MainPage {
  display: flex;
  margin-top: 200px;
  margin-bottom: 500px;
  justify-content: flex-start;
  align-items: stretch;
  /* background-color: yellow; */
}
.Sidebar {
  height: 100%;
  /* margin-bottom: 10px ; */
  /* background-color: black; */
}
.SidebarItem{
  font-size: 15px;
}
.Content {
  display: flex;
  padding-left: 12px;
  margin-top: 50px;
  margin-bottom: 80px;
  width:90vw;
  height: 80vh;
  /* background-color: green; */
}

.Footer {
  height: 60px;
  display: flex;
  /* position: fixed;
  padding: 0 20px;
  left: 0;
  bottom: 0; */
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  border-top: 1px solid rgba(0,0,0,0.15);
  background-color:blue;
}