.App{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color:yellow;
}
.Header {
  height: 60px;
  width: 100%;
  display:flex ;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  background-color:blue;
}
.MainPage {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}
.Sidebar {
  height: 100%;
  background-color: green
}
.SidebarMenu {
  height: 100%;
}
.SidebarItem{
  font-size: 15px;
}
.Content {
  padding-left: 12px;
  background-color: green;
}
.Footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(0,0,0,0.15);
  background-color:blue;
}